/*******
GENERAL
********/

body {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0% 5%;
}

a {
  text-decoration: none;
}

.audio-file {
  box-sizing: border-box;
  max-width: 810px;
  width: 100%;
  padding: 20px;
  background: #f2f3f4;
  border: 1px solid #e2e3e4;
}

.img-responsive {
display: none;
max-width: 850px;
width: 100%;
height: auto;
margin: 0 auto;
}

header {
  margin: 0px 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-decoration: none;
  color: brown;
  text-align: center;
  margin: 0 auto;
}

/* Powerful Beats */

h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

/* Music Library */

h2 {
  font-size: 1.15em;
  margin: -1px 0 35px;
  font-weight: normal;
}

/* Apex Motorsports */

ul {
  text-align: center;
  font-size: 1em;
  margin: -1px 0px;
  font-weight: normal;
}

/* Live Band Sound */

ul {
  font-size: 1em;
  margin: 10px 0 0px;
  font-weight: normal;
}

/* Inspire */

ul {
  font-size: 1em;
  font-weight: normal;
}

/* Pipe Dream */

ul {
  font-size: 1em;
  font-weight: normal;
}

/* Beach Hammock Vibe */

ul
 {
  font-size: 1em;
  font-weight: normal;
}

/* Intriguing Strings */

ul
 {
  font-size: 1em;
  font-weight: normal;
}

/* Laid back R&B */

ul
 {
  font-size: 1em;
  font-weight: normal;
}

.this-wrapper {
  dislay:block;
  overflow:hidden;
}
